<mat-drawer-container class="navbar-container" autosize>
    <ul>       
        <li><app-navbar-threads></app-navbar-threads></li>
        <li><app-navbar-channel class="navbar-channels"></app-navbar-channel></li>
        <li>
            <button (click)="openNewChannelDialog()">
                <mat-icon class="icon">add_box</mat-icon>
                Add channels
            </button>
        </li>      
        <li><app-navbar-messages></app-navbar-messages></li>
        <li>
            <button (click)="openInviteCollegueDialog()">
                <mat-icon class="icon">add_box</mat-icon>
                Add collegues
            </button>
        </li>
    </ul>
</mat-drawer-container>