<mat-dialog-content>
    <form [formGroup]="inviteForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width">
            <input matInput placeholder="Enter your colleague's email" formControlName="email">
            <mat-error
                *ngIf="inviteForm.get('email').invalid && (inviteForm.get('email').dirty || inviteForm.get('email').touched)">
                Invalid email
            </mat-error>

        </mat-form-field>
        <div class="action-buttons">
            <button mat-raised-button color="primary" [disabled]="!inviteForm.valid" type="submit">Invite</button>
            <button mat-button mat-dialog-close>Cancel</button>
        </div>
    </form>
</mat-dialog-content>
<mat-card>
    <mat-form-field>
        <input matInput placeholder="Name" [formControl]="nameFormControl">
        <mat-error *ngIf="nameFormControl.hasError('required')">Name must have at least four characters long</mat-error>
        <mat-error *ngIf="nameFormControl.hasError('required')">Name <strong>required</strong></mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [formControl]="emailFormControl">
        <mat-error *ngIf="emailFormControl.hasError('email')"></mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">Email is
            <strong>required</strong>{{buttonText}}</mat-error>
    </mat-form-field>
    <button mat-raised-button [disabled]="emailFormControl.invalid || nameFormControl.invalid || isLoading"
        (click)="inviteUser()"></button>
</mat-card>