<nav class="navbar navbar-header fixed-top  p-0 shadow">
    <form class="header">
        <button mat-button color="primary" (click)="toggleTheme()">
            <mat-icon class="dark-light-theming">{{ isDarkTheme ? 'nights_stay' : 'wb_sunny' }}</mat-icon>
        </button>
        <div class="search-history">
            <mat-icon class="time">access_time</mat-icon>
            <input type="text" placeholder="Searchbar" [formControl]="control" [matAutocomplete]="auto"
                class="search-input">
        </div>
        <button mat-icon-button class="menu-user-icon" [matMenuTriggerFor]="headerMenu">
            <div class="icon-status">
                <mat-icon class="user-icon" fontIcon="person-circle"></mat-icon>
                <span class="status-circle" [ngClass]="{'online' : isOnline, 'offline' : !isOnline}">
                    <span class="inner-statur-circle"></span>
                </span>
                <span class="additional-status">{{ isOnline ? '' : 'z' }}</span>
            </div>
            <mat-menu #headerMenu="matMenu">
                <button mat-menu-item (click)="openProfile()">
                    <mat-icon fontIcon="person-circle"></mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item (click)="authService.SignOut()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </button>
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let street of filteredUsers | async" [value]="user">
                {{user}}
            </mat-option>
        </mat-autocomplete>
    </form>

</nav>


<!-- NAVBAR & ROUTER (CHANNEL DASHBOARD/ MASSEGE DASHBOARD & DASHBOARD PROFILE) -->
<div class="nav-dash-container">
    <app-navbar class="navbar-container"></app-navbar>
    <router-outlet></router-outlet>
</div>