

<div>Threads</div>
<mat-divider></mat-divider>

<mat-tree class="mat-tree" [dataSource]="channelsService.dataSource" [treeControl]="channelsService.treeControl">
    <!-- This is the tree node template for leaf nodes !IMPORTANT -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent="0px"
    
    [routerLink]="[{ outlets: { mainOutlet: ['channel', node.channelId] }}]">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button class="mat-tree-node-btn" mat-button>
            <mat-icon [ngStyle]="{'font-style': node.isClosedArea ? 'normal' : 'italic' }"> {{
                node.isClosed ? 'lock' : 'tag'}}</mat-icon>
            <div>{{node.name}}</div>
        </button>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: channelsService.hasChild" matTreeNodePadding class="highest-node">
        <div class="main-node">
            <button class="expand-channels-btn" mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="main-icon" (click)="toggleExpanded(node)">
                    {{ channelsService.treeControl.isExpanded(node) ? 'arrow_drop_down' : 'arrow_right' }}
                </mat-icon>
            </button>
            <span class="channels" (mouseover)="hovering = true" (mouseout)="hovering = false"
                [matMenuTriggerFor]="menu">{{node.name}}
                <mat-icon *ngIf="hovering">expand_more</mat-icon>
            </span>
            <mat-menu #menu="matMenu">
                <button class="channel-options" mat-menu-item (click)="createChannel()">Create</button>
                <mat-divider></mat-divider>
                <button class="channel-options" mat-menu-item (click)="manageChannels()">Manage</button>
            </mat-menu>
        </div>
    </mat-tree-node>
</mat-tree>
<button class="channel-btn" (click)="openNewChannelDialog()" mat-button>
    <mat-icon class="icon">add_box</mat-icon>
    Add channels
</button>