<mat-tab-group class="menu">
  <!-- About Tab -->
  <mat-tab label="About">
    <p>
      Channels are where your team communicates. They’re best when organized around a topic – #marketing, for example.
    </p>

    <div><strong>Channel Name: </strong> {{channel.channelName}}</div>
    <button mat-button (click)="openDialog('Edit Channel Name', 'Your content for editing Channel Name')">Edit</button>

    <div><strong>Description: </strong> {{channel.description}}</div>
    <button mat-button (click)="openDialog('Edit Description', 'Your content for editing Description')">Edit</button>

    <div><strong>Topic </strong></div>
    <button mat-button (click)="openDialog('Edit Topic', 'Your content for editing Topic')">Edit</button>
  </mat-tab>

  <!-- Members Tab -->
  <mat-tab label="Members">
    <ul>
      <li *ngFor="let member of channel.usersData">{{ member?.username }}</li>
    </ul>
  </mat-tab>

  <!-- Settings Tab -->
  <mat-tab label="Settings">
    <div>
      <h3>Change Channel Name</h3>
      <mat-form-field>
        <input [(ngModel)]="channel.channelName" matInput placeholder="# e.g. budget-planning">
      </mat-form-field>

      <h3>Make Private</h3>
      <p>When a channel is set to private, it can only be viewed or joined by invitation.</p>
   
      <mat-slide-toggle [(ngModel)]="channel.isClosedArea" (change)="toggleChannelPrivacy()"></mat-slide-toggle>
      <button mat-button color="warn" (click)="deleteChannel()">Delete Channel</button>
      <button mat-button color="primary" (click)="archiveChannel()">Archive Channel</button>
    </div>
  </mat-tab>
</mat-tab-group>
