<div class="channel">
    <button class="channel-btn" mat-button (click)="openDialog()">
        <mat-icon class="mat-icon" [ngStyle]="{'font-style': channel.isClosedArea ? 'normal' : 'italic' }">
            {{ channel.isClosedArea ? 'lock' : 'tag' }}
        </mat-icon>
        <div>{{ channel.channelName }}</div>
        <mat-icon class="mat-icon">expand_more</mat-icon>
    </button>
</div>
<div *ngFor="let group of messages; let i = index" class="message-group">
    <div class="line-with-date">
        <div class="dividing-line"></div>
        <div class="message-date" id="date-{{i}}">{{ group.date }}</div>
        <div class="dividing-line"></div>
    </div>
    <div *ngFor="let message of group.messages" class="message-content"> <!-- Corrected here -->

        <button mat-tooltip="reply" mat-icon-button (click)="openThreadToReply(message.messageId)">
            <mat-icon>chat</mat-icon>
        </button>

        <div class="name-and-time" dark-light-theming>
            <div class="user-name">{{message.username}}</div>
            <div class="message-time">{{ message.time }}</div> <!-- removed date pipe here -->
        </div>
        <div (click)="openThreadToReply(message.messageId)">{{ message.text }}</div>

    </div>
</div>
<div class="add-message-dialog">
    <app-send-message-dialog></app-send-message-dialog>
</div>