@use "@angular/material" as mat;
@use "material/theming" as app;
@use "sass:map";

@include mat.core();

$app-primary: mat.define-palette(mat.$indigo-palette);
$app-accent: mat.define-palette(mat.$pink-palette);

// Use your own "app" define-light-theme function instead of "mat" one.
$app-theme: app.define-dark-theme((color: (primary: $app-primary,
        accent: $app-accent,
      )));


@include mat.core-theme($app-theme);
@include mat.button-theme($app-theme);
@include mat.expansion-theme($app-theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@include mat.all-component-colors($app-theme);