@use '@angular/material' as mat;
@import "../node_modules/@angular/material/theming";
@include mat.core();



// Define the color configurations for light and dark themes
$slack-light-color-config: (
    primary: mat-palette($mat-blue, 500),
    accent: mat-palette($mat-light-green, 600),
    warn: mat-palette($mat-red, 600)
);

$slack-dark-color-config: (
    primary: mat-palette($mat-blue, 700),
    accent: mat-palette($mat-light-green, 800),
    warn: mat-palette($mat-red, 800)
);

// Define typography. For this example, I'm using the default Angular Material typography.
$typography: mat-typography-config();

// Define the theme configurations using color, typography, and density
$slack-light-theme: mat.define-light-theme((color: $slack-light-color-config,
            typography: $typography ,
            density: -2,
        ));

$slack-dark-theme: mat.define-dark-theme((color: $slack-dark-color-config,
            typography: $typography,
            density: -1,

        ));

body.light-theme {
    // ... Light theme styles go here ...
    @include mat.all-component-themes($slack-light-theme);
}

body.dark-theme {
    // ... Dark theme styles go here ...
    @include mat.all-component-themes($slack-dark-theme);
}