@import './custom-theme.scss'

@mixin scrollbar
    &::-webkit-scrollbar
        width: 8px
        background-color: transparent
        border-radius: 5px

    &::-webkit-scrollbar-thumb
        background-color: rgb(100, 102, 105)
        border-radius: 5px

    &::-webkit-scrollbar-track
        background-color: transparent

        scrollbar-width: thin
        scrollbar-color: rgb(100, 102, 105) transparent

@mixin flex-center
    display: flex
    justify-content: center
    align-items: center
*
    padding: 0px
    margin: 0px
    margin-block-end: 0px
    margin-block-start: 0px
    @include scrollbar

:root
    /* dark theme */
    --primary-dark-color: rgb(26, 29, 33)
    --secondary-dark-color: rgb(25, 23, 29)
    --tertiary-dark-color: rgb(18, 16, 22)
    --highlight-dark-color: #611f69
    --hover-effect-dark: rgba(209,210,211,0.2)
    --accent-color: #4285f4
    --primary-focus-dark: rgb(17, 100, 163)
    --secondary-focus-dark: rgb(26, 67, 86)
    --border-dark: rgb(45, 48, 52)
    --primary-text-dark: rgb(206, 207, 208)
    --secondary-text-dark: #D1D2D3
    --tertiary-text-dark: rgb(171, 171, 173)
    --primary-button-dark: (#148567)
    --toolbar-dark: #0d0d0e
    --warn: darkred

    /* light theme */
    --primary-light-color: rgb(26, 29, 33)
    --secondary-light-color: rgb(25, 23, 29)
    --tertiary-light-color: rgb(18, 16, 22)
    --highlight-light-color: #611f69
    --hover-effect-light: rgba(209,210,211,0.2)
    --accent-color: #4285f4
    --primary-focus-light: rgb(29, 155, 209)
    --secondary-focus-light: rgb(26, 67, 86)
    --border-light: rgb(45, 48, 52)
    --primary-text-light: rgb(16, 18, 19)
    --secondary-text-light: #202529
    --tertiary-text-light: rgb(36, 36, 41)
    --primary-button-light: black
    --toolbar-light: rgb(97, 30, 206)

$primary-bg-color: var(--primary-dark-color)
$secondary-bg-color: var(--secondary-dark-color)
$tertiary-bg-color: var(--tertiary-dark-color)
$highlight-color: var(--highlight-dark-color)
$hover-effect-color: var(--hover-effect-dark)
$accent-color: var(--accent-color)
$primary-focus-color: var(--primary-focus-dark)
$secondary-focus-color: var(--secondary-focus-dark)
$border-color: var(--border-dark)
$primary-text-color: var(--primary-text-dark)
$secondary-text-color: var(--secondary-text-dark)
$tertiary-text-color: var(--tertiary-text-dark)
$toolbar-color: var(--toolbar-dark)
$warn-color: var (--warn)

.mat-mdc-dialog-container
    border-radius: 8px !important

.mdc-dialog__surface
    border-radius: 8px !important

.mat-mdc-card
    border-radius: none
    border: none
    box-shadow: 0 1px 0 0 $border-color

.mat-tab-group
    background-color: red

.mat-icon
    font-size: 20px !important
    height: 20px !important
    width: 20px !important

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple
    border-radius: 0%

.mat-mdc-icon-button
    padding: 0px !important
    border-radius: 0px !important

.mat-mdc-icon-button .mat-mdc-button-touch-target
    height: 24px
    width: 24px

.mat-mdc-icon-button .mat-mdc-button-persistent-ripple
    border-radius: 0% !important

.mat-mdc-icon-button
    padding: 0px !important
    border-radius: 4px !important
.mat-mdc-icon-button
    --mdc-icon-button-state-layer-size: 24px !important
    --mdc-icon-button-icon-size: 24px !important
    --mdc-icon-button-disabled-icon-color: black
    --mdc-icon-button-disabled-icon-opacity: 0.38
.mdc-button, .mat-mdc-button, .mat-unthemed, .mat-mdc-button-base
    min-width: 24px
    height: 24px !important
    &:hover
        background-color: $hover-effect-color
        border-radius: 4px

.mat-mdc-icon-button .mat-mdc-button-touch-target
    position: absolute
    top: 50%
    height: 24px !important
    left: 50%
    width: 24px !important
    transform: translate(-50%, -50%)

button
    cursor: pointer

.mat-mdc-tab-body-wrapper
    height: 100%
