$my-dark-palette: (
    50 : #e2e2e2,
    100 : #b6b6b6,
    200 : #858585,
    300 : #545454,
    400 : #2f2f30,
    500 : #0a0a0b,
    600 : #09090a,
    700 : #070708,
    800 : #050506,
    900 : #030303,
    A100 : #a6a6a6,
    A200 : #8c8c8c,
    A400 : #737373,
    A700 : #666666,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


$my-light-palette: (
    50 : #ebe7f4,
    100 : #cdc4e3,
    200 : #ab9dd0,
    300 : #8975bd,
    400 : #7058af,
    500 : #573aa1,
    600 : #4f3499,
    700 : #462c8f,
    800 : #3c2585,
    900 : #2c1874,
    A100 : #bcadff,
    A200 : #937aff,
    A400 : #6947ff,
    A700 : #542eff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);